.header{
    text-align: center;
    font-size: 30px;
    color: var(--primary);
}
div{
    text-align: center;
}
h3{
    color: var(--primary);
}
small{
    font-size: 15px;
    margin-bottom: 20px;
}