.next{
    margin-left: 60%;
 }
 .previous{
     margin-left: 10%;
     margin-top: 35%;
 }
 form{
     max-height: 40%;
 }

 .header{
    text-align: center;
    font-size: 30px;
    color: var(--primary);
}
.addGuest-btn{
    background-color:  #73CCFF;
    color: #FFFFFF;
    width: 20px;
    border-radius: 10px;
}
    
